.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(29, 28, 28);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.P-title {
  color: rgb(198, 0, 0);
  font-size: 72px;
  font-weight: bold;
  font-family: "Times New Roman";
}

.App-body {
  background-color: rgb(29, 28, 28);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form {
  background-color: rgb(29, 28, 28);
  display: grid;
  grid-template-columns: 1fr 1fr; /* set column sizes here */
  grid-template-rows: auto auto; /* we want two rows */

  grid-gap: 10px; /* how far between cells? */
  grid-auto-flow: column; /* fill in by column, not row */
  row-gap: 130px;
}

section div {
  background-color: rgba(20, 19, 19, 63);
  height: 250px;
  width: 600px;
}

.P-form-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial";
}

.P-form-description {
  color: #fff;
  font-size: 18px;
  font-family: "Arial";
}

.custom-slider {
  width: 85%;
  height: 8px;
  background: #eee;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;
}

.custom-slider:hover {
  opacity: 1;
}

select {
  font-size: 50px;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
  background: #da1a1a;
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #da1a1a;
  cursor: pointer;
}

h4.canto {
  float: right;
  line-height: 26px;
  margin: 20px;
  font-size: 18px;
}

div.tamanho {
  height: 35px;
  margin: 10px;
  font-size: 18px;
  align-items: end;
}

div.checkbox .checkbox-round-year {
  float: right;
  margin: 3px;
}

div.checkbox .checkbox-round-runtime {
  float: right;
  margin: 3px;
}

label.check{
  font-size: 18px;
  margin: 5px 5px;
}

div.checkbox .check {
  float: right;
  margin: 0 9px;
}

div.button_send {
  display:inline-block;
  height: 220px;
  width: 1200px;
  vertical-align: bottom;
  margin: auto;
  padding: 60px;
}

button.submit {
  height: 80px;
  width: 200px;
  background-color: #da1a1a;
  font-size: 30px;
}

div.checkbox {
  float: right;
  margin: 20px;
  background: #00000000;
}


.checkbox-round-year {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: right;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round-runtime {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: right;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.span{
  display:inline-block;
  width: 400px;
  height: 150px;
  background: rgb(209, 173, 95);
  border: 5px solid rgb(255, 166, 0);
}

.checkbox-round-year:checked {
  background-color: rgb(255, 0, 0);
}

.checkbox-round-runtime:checked {
  background-color: rgb(255, 0, 0);
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid white;
}

.title {
  font-size: 24px;
  color: red;
}

.message {
  font-size: 18px;
  color: red;
}

.close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

